<div class="modal-header">
	<h4 class="modal-title">Register</h4>
</div>

<ng-form name="registerForm" novalidate>
<div class="modal-body">
	
	<table class="table">
		<tr>
			<td><b>userid</b></td>
			<td><input type="text" ng-model="user.userid" name="userid" ng-model-option="{ updateOn: 'blur' }" required ng-unique>
			    <span style="color:red" ng-show="registerForm.userid.$error.required">Userid is required</span>
			    <span style="color:red" data-ng-show="registerForm.userid.$error.unique">Userid already exists.</span>
			</td>
		</tr>
		<tr>
			<td><b>password</b></td>
			<td><input type="password" ng-model="user.password" name="password" required>
			<span style="color:red" data-ng-show="registerForm.password.$error.required">password is required</span></td>
		</tr>
		<tr>
			<td><b>confirm password</b></td>
			<td><input type="password" ng-model="user.conf_password" name="conf_password" data-password-verify="user.password" required>
			<span style="color:red" data-ng-show="registerForm.conf_password.$error.required">please input confirm password</span>
			<span style="color:red" data-ng-show="registerForm.conf_password.$error.passwordVerify">please confirm the 2 password is the same</span></td>
		</tr>
		<tr>
			<td><b>user name</b></td>
			<td><input type="text" ng-model="user.name" name="username" required>
			<span style="color:red" data-ng-show="registerForm.username.$error.required">user's nick name is required</span></td>
		</tr>
		<tr>
			<td><b>email</b></td>
			<td><input type="text" ng-model="user.email" name="email" required>
			<span style="color:red" data-ng-show="registerForm.email.$error.required">user's email is required</span></td>
		</tr>
	</table>
	<span style="color: red" ng-show="register_failed">register failed, please contact admin.</span>
	
</div>
<div class="modal-footer">
	<button class="btn btn-default"
		ng-click="registerForm.$valid && register_func()">regiser</button>
	<button class="btn btn-default" ng-click="hide()">cancel</button>
</div>
</ng-form>